* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px 20px 150px 20px;
  background: #191919;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}

h1 {
  font-size: 62px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 3px;
  text-align: center;
}

h4 {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.header-msg {
  font-size: 14px;
  margin-bottom: 40px;
  background: #7db3da;
  color: #000;
  padding: 20px 15px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.error-note {
  background: rgb(243, 74, 74);
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  padding: 20px 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
}

header {
  margin-bottom: 100px;
}

.wrapper {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

form h6 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 15px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.input-block {
  width: 100%;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  font-size: 15px;
  background: none;
  border: 1px solid grey;
  color: #b6b6b6;
}

.submit {
  margin-top: 50px;
  width: 100%;
}

.submit .json {
  border: none;
  background: none;
  color: #bababa;
  display: block;
  margin-left: auto;
  margin-top: 10px;
  border-bottom: 1px solid #bababa;
  cursor: pointer;
  font-size: 14px;
}

.submit-btn {
  width: 100%;
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #0077cc;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 8px 15px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.submit-btn:disabled {
  cursor: default;
  opacity: 0.3;
}

.submit-btn:hover {
  background-image: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  text-decoration: none;
}

.submit-btn:active {
  background-image: linear-gradient(#3d94d9, #0067b9);
  border-color: #006dbc;
  outline: none;
}

.submit-btn:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}

form .label {
  display: flex;
  align-items: center;
  position: relative;
  gap: 10px;
}

form .label .info {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateY(-5px);
}

form .label svg {
  font-size: 18px;
  color: #42a1ec;
}

form .label .tooltip {
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  white-space: normal;
  padding: 15px;
  border-radius: 6px;
  background-image: linear-gradient(#42a1ec, #0070c9);
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  display: none;
  z-index: 99;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  text-align: left;
  cursor: auto;
}

form .label .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #0070c9 transparent transparent transparent;
  background-image: linear-gradient(#42a1ec, #0070c9);
}

form .label .info:hover .tooltip {
  display: block;
  line-height: 20px;
}

form .label .tooltip b {
  font-weight: 600;
}

textarea {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: none;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  font-size: 15px;
  resize: none;
  height: 220px;
  color: #b6b6b6;
  line-height: 24px;
}

.highlights-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.highlight {
  display: flex;
  gap: 10px;
}

.highlight input:nth-child(2) {
  width: 100px;
}

.highlight button {
  background: none;
  border: none;
  color: red;
  font-size: 25px;
  cursor: pointer;
}

.highlight input:nth-child(2)::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.highlight input:nth-child(2)[type="number"] {
  -moz-appearance: textfield;
}

.highlights-container .new-highlight {
  width: fit-content;
  margin-right: auto;
  padding: 8px 14px;
  border-radius: 5px;
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #0077cc;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
}

.skills-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skill {
  display: flex;
  gap: 10px;
}

.skill input:nth-child(2) {
  width: 100px;
}

.skill button {
  background: none;
  border: none;
  color: red;
  font-size: 25px;
  cursor: pointer;
}

.skill input:nth-child(2)::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.skill input:nth-child(2)[type="number"] {
  -moz-appearance: textfield;
}

.skills-container .new-skill {
  width: fit-content;
  margin-right: auto;
  padding: 8px 14px;
  border-radius: 5px;
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #0077cc;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
}

.auth-container {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-btn {
  width: 100%;
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #0077cc;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 8px 15px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.login-btn:disabled {
  cursor: default;
  opacity: 0.3;
}

.login-btn:hover {
  background-image: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  text-decoration: none;
}

.login-btn:active {
  background-image: linear-gradient(#3d94d9, #0067b9);
  border-color: #006dbc;
  outline: none;
}

.login-btn:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}

button:disabled,
textarea:disabled,
input:disabled {
  cursor: not-allowed;
  color: gray;
}

.login-btn:disabled,
.submit-btn:disabled {
  cursor: wait !important;
  background: grey !important;
}

.loader-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  opacity: 0.7;
}

.loader {
  display: block;
  width: 60px;
  height: 60px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon-button {
  padding: 8px 10px;
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #0077cc;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  min-width: 45px;
}

.icon-container-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #343434d7;
  z-index: 9999;
}

.icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  border-radius: 10px;
  padding: 15px;
  width: 95vw;
  max-width: 600px;
  height: 95vh;
  max-height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.icon-container h5 {
  font-weight: 600;
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.all-icons {
  width: 100%;
  margin-top: 30px;
  flex: 1;
  min-height: 0;
  margin-bottom: 10px;
  overflow: auto;
}

.all-icons-wrapper {
  width: calc(100% - 20px);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.all-icons button {
  background: none;
  border: 1px solid gray;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.25 ease-out;
  font-size: 18px;
  width: 50px;
  height: 50px;
  color: #fff;
}

.all-icons button:hover {
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #0077cc;
  color: #fff;
}

.close-icon {
  color: gray;
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.icon-selected {
  background-image: linear-gradient(#42a1ec, #0070c9) !important;
  border: 1px solid #0077cc;
  color: #fff;
}

.icon-search-box {
  width: 95%;
  margin: 0 auto;
  display: flex;
  gap: 5px;
  align-items: center;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 0 10px;
  margin-top: 20px;
}

.icon-search-box svg {
  flex-shrink: 0;
  font-size: 18px;
  color: gray;
}

.icon-search-box input {
  border: none;
  background: none;
  outline: none;
  font-size: 14px;
}

.what_i_offer_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.services-container {
  display: flex;
  width: 100%;
  gap: 10px;
}

.services-container .services-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.services-container .row_1 {
  display: flex;
  gap: 10px;
}

.services-container .row_1 input {
  flex: 1;
}

.what_i_offer_container .close-btn {
  background: none;
  border: none;
  color: red;
  font-size: 25px;
  cursor: pointer;
}

button.new-service {
  width: fit-content;
  margin-right: auto;
  padding: 8px 14px;
  border-radius: 5px;
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #0077cc;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
}

.external {
  color: #fff;
}

.login-error {
  color: red;
  text-align: center;
  font-size: 14px;
}

.upload-button-wrapper {
  display: flex;
  gap: 10px;
}

.upload-button-wrapper button {
  padding: 8px 10px;
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #0077cc;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
}

.upload-error {
  color: red;
  font-size: 14px;
  margin-top: 15px;
}

.upload-button-wrapper button:disabled {
  cursor: wait;
}

.success-message {
  font-size: 14px;
  color: #0077cc;
  margin-top: 15px;
}
